@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-100;
}

/* Nice scrollbars */
*::-webkit-scrollbar { width: 10px; height: 10px; }
*::-webkit-scrollbar-thumb { background: rgba(148,163,184,.35); border-radius: 999px; }
*::-webkit-scrollbar-track { background: transparent; }
